.body-wrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 100px;
}
.upload-wrapper{
    width: 300px;
    height: 300px;
}
:host ::ng-deep .avatar-uploader > .ant-upload {
  margin-left: 40%;
  width: 128px;
  height: 128px;
}
